<!DOCTYPE html>
{% extends 'blogapp/base.html' %} {% block body_block %}
<div class="container">
  <br />
  <h1>About this Website:</h1>
  <br />
  <br />
  <h6>
    Hello guys my name is Tushar Deora. I have made this website from scratch.
  </h6>
  <br />
  <h6>
    The main purpose of this Website is to provide Blogging experience to it's
    user.
  </h6>
  <br />
  <br />
  <h6>This website is under construction. There are lot of features to add.</h6>
  <h6>This website was made so that i can learn Backend Django framework.</h6>
  <h6>
    I have to work on frontend also. I will make this website even cooler after
    learning React.
  </h6>
  <h6>For that stay tuned for future updates ;)</h6>
  <br />
  <h6>You can tell me about your experience based on this website.</h6>
  <h6>
    You can also give suggestions on what features i can add in this website, to
    make website user friendly.
  </h6>
  <br />
  <h6>You can contact me through my LinkedIn profile:</h6>
  <h6>
    <a
      href="https://www.linkedin.com/in/tushar-deora-1935a8153?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BViUzwRh7ROKGwh5lVN0aKg%3D%3D"
      >LikedIn profile: Tushar Deora</a
    >
  </h6>
  <br />
  <br />
  <h3>Happy Blogging :)</h3>
</div>
{% endblock %}
