<!DOCTYPE html>
{% extends 'blogapp/base.html' %}
{% block body_block %}


<div class="container">
  <h1 class="heading">{{ draft_view.Title }}</h1>
  <div class="headinga">
    <h6>by {{ draft_view.Author }}</h6>
  </div>
  <br>
  <br>

  <!-- <form  method="post" href="{% url 'index' %}">
    {% csrf_token %}
    <input type="submit" name="" value="Publish">
  </form>  -->
  <!-- <div class="author">
    <h4>Author: </h4>
    <h6>{{ draft_view.Author }}</h6>
  </div> -->
  <div class="created">
    <h4>Created on: </h4>
    <h6> {{ draft_view.create_date }} </h6>

  </div>
  <div class="publish">
    {% if draft_view.published_date %}
    <h4> Published on: </h4>
    <h6>{{ draft_view.published_date }}</h6>


    {% else %}
    <br>
    <br>
    <a class="btn btn-primary" href="{% url 'blogapp:post_publish' pk=draft_view.pk %}">Publish</a>
    {% endif %}
  </div>


  <br>
  <!-- <h3>Text : </h3> -->
  <br>
  <div class=text>
    <p>{{ draft_view.Text }}</p>
  </div>
  <br>
  <br>

  <style>
    .heading {
      text-align: center;
    }

    .headinga {
      text-align: center;
    }

    .text {
      /* text-align: center; */
      border-style: double;
      padding-left: 50px;
      padding-right: 50px;
      margin-right: 100px;
    }

    .created h4,
    h6 {
      display: inline-block;
    }

    .author h4,
    h6 {
      display: inline-block;
    }

    .publish h4,
    h6 {
      display: inline-block;
    }
  </style>


  {% if user.is_authenticated %}
  <a href="{% url 'blogapp:update' pk=draft_view.pk %}"> <input class="btn btn-warning" type="text" name=""
      value="Update this Blog"> </a>
  <a href="{% url 'blogapp:delete' pk=draft_view.pk %}"> <input class="btn btn-danger" type="text" name=""
      value="Delete this Blog"> </a>
  {% endif %}
  <br>
  <br>
  <a href="{% url 'blogapp:comment' pk=draft_view.pk %}"> <input class="btn btn-primary" type="text" name=""
      value="Add Comment"> </a>
  <br>
  <br>
  <br>

  {% for comment in draft_view.comments.all %}
  {% if user.is_authenticated or comment.approved_comment %}
  <div class="comment">
    <h6>----------------------------------------------------------</h6>
    <div class="date">

      {% if not comment.approved_comment %}
      <a class="btn btn-default" href="{% url 'blogapp:comment_remove' pk=comment.pk %}"><input
          class="btn btn-outline-danger btn-sm" type="text" name="" value="remove"></span></a>
      <a class="btn btn-default" href="{% url 'blogapp:comment_approve' pk=comment.pk %}"><input
          class="btn btn-outline-primary btn-sm" type="text" name="" value="approve"></span></a>
      {% endif %}


      <br>
      <h4><strong>{{ comment.author }}</strong></h4>
      <h6><br> {{ comment.created_date }}
      </h6>

      <p>{{ comment.text|linebreaks }}</p>
    </div>
  </div>
  {% endif %}
  {% empty %}
  <p>No comments here yet :(</p>
  {% endfor %}

  {% for comment in draft_view.comments.all %}
  {% if not user.is_authenticated %}
  <h6>----------------------------------------------------------</h6>
  <div class="date">
  <br>
      <h4><strong>{{ comment.author }}</strong></h4>
      <h6><br> {{ comment.created_date }}
      </h6>

      <p>{{ comment.text|linebreaks }}</p>
    </div>    


  {% endif %}
  {% endfor %}
  <style>
    .date h4,
    h6 {
      display: inline-block;

    }
  </style>

  {% endblock %}