<!DOCTYPE html>
{% extends 'blogapp/base.html' %} {% block body_block %}
<div class="container">
  <br />
  <h4>Here are 3 simple steps to get you started!</h4>
  <br />
  <h3>Step 1:</h3>
  <br />
  <h6>Click on "Register" and register yourself.</h6>
  <h6>
    After registering click on "Login", enter your username and pasword to login
    into your profile.
  </h6>
  <br />
  <h3>Step 2:</h3>
  <h6>After Login you will be redirected to Home page.</h6>
  <h6>Click on "New Post" to write your Blog.</h6>
  <br />
  <h3>Step 3:</h3>
  <br />
  <h6>After saving your Blog you will be redirected to Home page.</h6>
  <h6>
    Click on "Drafts" to see your Blog. Select any of your blog from the list
  </h6>
  <h6>You can edit, delete and publish your Blog.</h6>
  <h6>
    Once your Blog is published, it will be shown in the Home page and will be
    visible by all users.
  </h6>
  <h6>
    Viewer can comment on your Blog. And you as a user have right to approve and
    delete comments.
  </h6>
  <h6>
    You can also comment on published blogs even though you are not logged in.
  </h6>
  <br />
  <h2>Keep Blogging :)</h2>
</div>
{% endblock %}
